body { 
  margin: 1em 15% 1em 15%;
  background: rgb(50, 50, 100);
}

#body {
  padding: 1em 3em 2em 3em;
  background: white; 
/*  margin-left: 1em;  */
/*  margin-right: 1em; */
}

h1, h2, h3, h4, h5 {
  clear: both;
}

#body img { 
  float: right;
  padding-left: 1em;
}

img.thumbnail { 
  border-style: none;
}

#navbar { 
  clear: both;
  text-align: center;
  background: lightgrey;
}

#titlebox { 
  text-align: center; 
  float: left; 
}

#title { 
  background: black;
  padding: 0.5em 2em 0.5em 2em;
  color: white;
  text-align: left;
  clear: both;
}

#title h1 { 
  padding-left: 1em;
  margin: 0px;
}

pre {
  padding: 1em;
  border-style: solid;
  border-width: thin;
  border-color: rgb(150, 150, 150);
  background: rgb(220, 220, 220);
  white-space: pre;

  margin-left: 1em;
  margin-right: 1em;
}

#body h1,h2,h3,h4,h5 { 
  border-bottom-style: solid;
  border-bottom-width: thin;
  border-bottom-color: lightgrey;
}

#body p { 
  text-indent: 1em;
}

#titlebox h1 {
  padding: 0px;
}

div.comment p { 
}

div.comment { 
  border-style: solid;
  border-width: thin;
  background-color: lightgrey;
}

div.indent0 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 0em; margin-bottom: 0.5em; }
div.indent1 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 1em; margin-bottom: 0.5em; }
div.indent2 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 2em; margin-bottom: 0.5em; }
div.indent3 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 3em; margin-bottom: 0.5em; }
div.indent4 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 4em; margin-bottom: 0.5em; }
div.indent5 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 5em; margin-bottom: 0.5em; }
div.indent6 { border-style: solid; border-width: thin; padding: 0.5em 1em 0.5em 1em; margin-left: 6em; margin-bottom: 0.5em; }

/* EOF */
