body { 
  margin: 1em 6em 1em 6em;
  background: rgb(50, 50, 100);
}

#body {
  padding: 1em 3em 2em 3em;
  background: white; 
}

#navbar { 
  text-align: center;
  background: lightgrey;
}

#title { 
  background: black;
  padding: 0.5em 2em 0.5em 2em;
  color: white;
  text-align: left;
}

#title h1 { 
  margin: 0px;
}

pre {
 white-space: pre-wrap;
}

/* EOF */
